.hero {
    min-height: 600px;
    background-image: url('../../img/banner_image.jpg');
    background-size: cover;
    position: relative;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(10, 10, 100, .4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.heading {
    text-align: center;
    font-size: 5em;
}

.tagline {
    font-size: 2em;
}