#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    /* text-align: center; */
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

.card {
    padding: 2em;
}

.mainNav {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    gap: 2rem;
}

.logo img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 999px;
    display: block;
}

.navMenu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 2rem;
}

.cartButton {
    margin-left: auto;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 999px;
    padding: 0;
    position: relative;
}

.cartButton::after {
    content: attr(data-value);
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    translate: 25% 25%;
    right: 0;
    bottom: 0;
    border-radius: 999px;
    background-color: #ff0000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartButton img {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
}

.productGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.productCard {
    border-radius: 8px;
    padding: 1rem;
    background-color: #404040;
    /* box-shadow: 0 3px 10px rgba(255, 255, 255, 0.2); */
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cardInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardActions {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    margin-top: auto;
}

.cartManip {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
}

.cardMainAction {
    margin-top: auto;
}

.search {
    margin-bottom: 1.5rem;
    width: 100%;
}

.search input {
    min-width: 300px;
    padding: .5rem 1.5rem;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    outline: none;
}

.cart {
    position: fixed;
    z-index: 2;
    right: 0;
    top: 0;
    width: 400px;
    height: 100vh;
    overflow: auto;
    background-color: #242424;
    padding: 1rem;
    border-left: 2px solid #404040;
}

.cart.hidden  {
    display: none;
}